body {
    padding: 0;
    width: 100vw;
}

<<<<<<< HEAD
=======

>>>>>>> c1c4e30ac57f3bc19f39f9d580cc2a5a0e22681b
main {
    margin: 0px 24px 24px;
}

.train-img-ds {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 24px 24px;
}


.train-img-ds img {
    border-radius: 30px;
}


.title-container-ds {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}


.title-ds {
    display: flex;
    justify-content: center;
    max-width: 1536px;
    margin-bottom: 5rem;
}

.title-left-ds {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-right: 2rem;

}

.canada-ds {
    display: flex;
}

.canada-ds h1 {
    font-size: 80px;
    color: #00C0EA;
    font-weight: 700;
    line-height: 1.1;
    position: relative;
}

.canada-ds p {
    font-size: 24px;
    border-bottom: 1px solid #00C0EA;
    line-height: 1.3;
    font-weight: 600;
    align-self: flex-end;
    margin-left: 10px;
}


.title-prompt-ds {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 1rem;
}



.best-button-container-ds {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.best-time-button-ds {
    background-color: #edf5ef;
    border: none;
    padding: 16px;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 15px;
}


.best-places-button-ds {
    background-color: #fdf2f2;
    border: none;
    padding: 16px;
    border-radius: 10px;
    font-size: 15px;
}



.title-right-ds {
    background-color: #E6F9FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}


.title-right-ds img {
    width: 40px;
    height: 40px;
    margin-bottom: 1em;
}

.title-right-title-ds {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
}


.title-right-prompt-ds {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 1em;
    letter-spacing: 0.6px;
}


.inspired-button-ds {
    font-size: 13px;
    background-color: #05D2FF;
    border: 0px;
    border-radius: 9999px;
    letter-spacing: 1px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-wrap: nowrap;
    width: 100%;
}


.inspired-button-ds:hover {
    background-color: #74e6ff;
    transform: scale(1.1);
}



.attraction-container-ds {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6F9FD;
    border-radius: 1rem;
    padding: 80px 40px;
}


.gradient-text-ds {
    background: linear-gradient(to right, #010A55 0%, #DD9B9B 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
}


.big-title-ds {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;
}


.carousel-item .card {
    background-color: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    color: black;
    width: 25rem;
}

.carousel-item .card img {
    border-radius: 10px;
}

.card-subtitle-ds {
    font-size: 85%;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-prompt-ds {
    font-size: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.carousel-item .card img:hover {
    filter: brightness(50%);
    cursor: pointer;
}




.attractions-button-ds {
    margin-top: 1rem;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 9999px;
    letter-spacing: 1px;
}


.attractions-button-ds:hover {
    background-color: #05D2FF;
    border: 1px solid #05D2FF;
    border-radius: 9999px;
    color: white;
}


.top-picks-container-ds {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
}


.exciting-text-ds {
    font-size: 40px;
    text-decoration: 1px underline #05D2FF;
    font-weight: 600;
}


.curate-text-ds {
    letter-spacing: 1px;
}


.curate-text-ds span {
    font-weight: bold;
    color: #05D2FF;
}






/* need to be filled */






.guidance-container-ds {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 10px;
    background-color: #fdfbf6;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.guidance-title-ds {
    text-align: center;
    margin: 2rem 1rem;
}

.guidance-card-container-ds {
    display: flex;
    flex-direction: row;
    max-width: 1520px;
    margin-bottom: 50px;
}


.guidance-card-container-ds .card {
    background-color: #faf7ec;
    letter-spacing: 0.8px;
    border-radius: 20px;
}

.guidance-card-container-ds .card .card-title {
    font-size: 20px;
    font-weight: 400;
}


.guidance-card-container-ds .card .card-text {
    font-size: 0.8rem;
}

.guidance-card-container-ds .card a {
    text-decoration: none;
    color: black;
}


.plan-container-ds {
    height: 550px;
    max-width: 1472px;
    background-image: url('img-dasom/quebec.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.plan-container-ds-au {
    height: 550px;
    max-width: 1472px;
    background-image: url('au-img-ke/Sydney\ Opera\ House.avif');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}



.plan-text1-ds {
    position: relative;
    top:  50px;
    left: 20px;
}


.plan-text2-ds {
    color: white;
    position: relative;
    top:  150px;
    left: 20px;
    max-width: 600px;
    text-wrap: wrap;
    margin-right: 1rem;
}


.plan-container-ds p {
    color: white;
    position: relative;
    top:  100px;
    left: 20px;
    letter-spacing: 1px;
    text-wrap: wrap;
    margin-right: 1rem;
}


.plan-button-ds {
    position: relative;
    top:  150px;
    left: 20px;
    width: 145px;
    height: 40px;
    background-color: white;
    border-radius: 9999px;
    border: none;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bolder;
}


.plan-button-ds:hover {
    background-color: #00C0EA;
    color: white;
}



.latest-storeis-container-ds {
    max-width: 1472px;
    margin-bottom: 5rem;
}



.latest-title-button-ds {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.latest-button-ds {
    align-self: center;
}




.latest-stroies-left-ds {
    background-image: url('img-dasom/mountain.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    min-height: 300px;
    max-width: 980px;
}

.latest-stroies-left-ds-au {
    background-image: url('au-img-ke/hiker’s.avif');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    min-height: 300px;
    max-width: 980px;
}




.latest-stories-text-ds {
    color: white;
    position: relative;
    top: 30rem;
    font-weight: 400;
}


.latest-text1-ds {
    font-weight: bolder;
    font-size: 14px;
    margin: 10px 0;
}


.latest-text2-ds {
    font-weight: bolder;
    font-size: 30px;
    margin: 10px 0;
}

.latest-text3-ds {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
}


.latest-stroies-right-ds .card {
    background-color: #f0f7fc;
    border-color: #e0eefa;
    margin-bottom: 1rem;
}


.latest-stories-text2-ds {
    display: none;
}


.latest-stroies-right-ds .card-body{
    display: flex;
    align-items: center;
}


.latest-stroies-right-ds .card-body:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}



.latest-stroies-right-ds .card-body img{
    max-width: 120px;
    max-height:120px;
    border-radius: 10px;
    margin-right: 1rem;
}



.popular-activities-container-ds {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1536px;
    margin-bottom: 5rem;
}


.popular-item-ds img {
    margin-right: 2rem;
    max-height: 270px;
    border-radius: 1rem;
}

.popular-item-ds h5 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 1rem;
}


.getyourguide-text-ds {
    color: grey;
    font-size: 13px;
    margin-top: 1rem;
    align-self: flex-start;
}

.getyourguide-text-ds a {
    color: grey;
}


.beyond-container-ds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1536px;
}


.beyond-title-button-ds {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.beyond-button-ds {
    align-self: center;
}


.beyond-item-ds {
    cursor: pointer;
}

.beyond-item-ds h5 {
    font-size: 1.5rem;

}

.beyond-item-ds img {
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.beyond-item-ds img:hover {
    transform: scale(1.05);
}

/* needs to be deleted */


footer {
    height: 200px;
    background-color: #00C0EA;
    margin: 0;
    text-align: center;
}


@media (max-width: 640px) {
    .train-img-ds {
        padding: 0;
    }
    
    
    .train-img-ds img {
        border: 0;
        width: 100%;
        border-radius: 0;
    }


    .title-ds {
        display: flex;
        flex-direction: column;
        max-width: 375px;
    }

    .canada-ds {
        display: flex;
        flex-direction: column;
    }

    .canada-ds h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .canada-ds p {
        align-self: flex-start;
        margin-left: 0;
    }

    .title-left-ds, .title-right-ds {
        width: 100%;
    }


    .title-prompt-ds {
        font-size: 14px;
    }

    .disappear-ds {
        display: none;
    }

    .big-title-ds {
        font-size: 27px;
    }

    .exciting-text-ds {
        font-size: 22px;
        text-decoration: 1px underline #05D2FF;
        font-weight: 600;
    }

    .latest-stories-text-ds {
        display: none;
    }

    .latest-stories-text2-ds {
        display: block;
        color: black;
    }


    .latest-storeis-container-ds {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .latest-stroies-left-ds {
        display: block;
        width: 100%;
    }

    .latest-stroies-right-ds {
        display: block;
        width: 100%;
    }

    .popular-item-ds {
        display: block;
        width: 100%;
    }

    .beyond-title-button-ds {
        display: block;
    }

    .beyond-button-ds {
        margin-top: -20px;
        margin-bottom: 1rem;
    }

    .latest-title-button-ds {
        display: block;
    }


}






@media (min-width: 600px) and (max-width: 1024px) {
    .train-img-ds {
        padding: 0;
    }
    
    
    .train-img-ds img {
        border: 0;
        width: 100%;
        border-radius: 0;
    }


    .title-ds {
        display: flex;
        flex-direction: column;
        max-width: 704px;
    }

    .canada-ds {
        display: flex;
        flex-direction: column;
    }

    .canada-ds h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .canada-ds p {
        align-self: flex-start;
        margin-left: 0;
    }

    .title-left-ds, .title-right-ds {
        width: 100%;
    }

    .title-prompt-ds {
        font-size: 14px;
    }

    .big-title-ds {
        font-size: 32px;
    }

    .exciting-text-ds {
        font-size: 24px;
        text-decoration: 1px underline #05D2FF;
        font-weight: 600;
    }

    .latest-stories-text-ds {
        display: none;
    }

    .latest-stories-text2-ds {
        display: block;
        color: black;
    }

    .latest-storeis-container-ds {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .latest-stroies-left-ds {
        display: block;
        width: 100%;
        max-height: 688px
    }

    .latest-stroies-right-ds {
        display: block;
        width: 100%;
    }

}











