body {
    padding: 0;
    width: 100vw;
}

nav {
    height: 64px;
    background-color: #00C0EA;
    margin: 0;
    text-align: center;
}

main {
    margin: 0px 24px 24px;
}

.train-img-ds {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 24px 24px;
}


.train-img-ds img {
    border-radius: 30px;
}


.title-container-ds {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}


.title-ds {
    display: flex;
    justify-content: center;
    max-width: 1536px;
    margin-bottom: 5rem;
}

.title-left-ds {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-right: 2rem;

}

.canada-ds {
    display: flex;
}

.canada-ds h1 {
    font-size: 80px;
    color: #00C0EA;
    font-weight: 700;
    line-height: 1.1;
    position: relative;
}

.canada-ds p {
    font-size: 24px;
    border-bottom: 1px solid #00C0EA;
    line-height: 1.3;
    font-weight: 600;
    align-self: flex-end;
    margin-left: 10px;
}


.title-prompt-ds {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 1rem;
}



.best-button-container-ds {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.best-time-button-ds {
    background-color: #edf5ef;
    border: none;
    padding: 16px;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 15px;
}


.best-places-button-ds {
    background-color: #fdf2f2;
    border: none;
    padding: 16px;
    border-radius: 10px;
    font-size: 15px;
}



.title-right-ds {
    background-color: #E6F9FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}


.title-right-ds img {
    width: 40px;
    height: 40px;
    margin-bottom: 1em;
}

.title-right-title-ds {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
}


.title-right-prompt-ds {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 1em;
    letter-spacing: 0.6px;
}


.inspired-button-ds {
    font-size: 13px;
    background-color: #05D2FF;
    border: 0px;
    border-radius: 9999px;
    letter-spacing: 1px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-wrap: nowrap;
    width: 100%;
}


.inspired-button-ds:hover {
    background-color: #74e6ff;
    transform: scale(1.1);
}



.attraction-container-ds {
    display: flex;
    flex-direction: column;
    background-color: #E6F9FD;
    border-radius: 1rem;
    padding: 80px 40px;
}


.gradient-text-ds {
    background: linear-gradient(to right, #010A55 0%, #DD9B9B 12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
}


.big-title-ds {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;
}


.carousel-item .card {
    background-color: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    color: black;
    width: 25rem;
}

.carousel-item .card img {
    border-radius: 10px;
}

.card-subtitle-ds {
    font-size: 85%;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-prompt-ds {
    font-size: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.card img:hover {
    filter: brightness(50%);
}

.attractions-button-container-ds {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.attractions-button-ds {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 9999px;
    letter-spacing: 1px;
}


.attractions-button-ds:hover {
    background-color: #05D2FF;
    border: 1px solid #05D2FF;
    border-radius: 9999px;
    color: white;
}


.top-picks-container-ds {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
}


.exciting-text-ds {
    font-size: 40px;
    text-decoration: 1px underline #05D2FF;
    font-weight: 600;
}


.curate-text-ds {
    letter-spacing: 1px;
}


.curate-text-ds span {
    font-weight: bold;
    color: #05D2FF;
}




@media (max-width: 640px) {
    .train-img-ds {
        padding: 0;
    }
    
    
    .train-img-ds img {
        border: 0;
        width: 100%;
        border-radius: 0;
    }


    .title-ds {
        display: flex;
        flex-direction: column;
        max-width: 375px;
    }

    .canada-ds {
        display: flex;
        flex-direction: column;
    }

    .canada-ds h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .canada-ds p {
        align-self: flex-start;
        margin-left: 0;
    }

    .title-left-ds, .title-right-ds {
        width: 100%;
    }


    .title-prompt-ds {
        font-size: 14px;
    }

    .disappear-ds {
        display: none;
    }

    .big-title-ds {
        font-size: 32px;
    }



}




@media (min-width: 600px) and (max-width: 1024px) {
    .train-img-ds {
        padding: 0;
    }
    
    
    .train-img-ds img {
        border: 0;
        width: 100%;
        border-radius: 0;
    }


    .title-ds {
        display: flex;
        flex-direction: column;
        max-width: 704px;
    }

    .canada-ds {
        display: flex;
        flex-direction: column;
    }

    .canada-ds h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .canada-ds p {
        align-self: flex-start;
        margin-left: 0;
    }

    .title-left-ds, .title-right-ds {
        width: 100%;
    }

    .title-prompt-ds {
        font-size: 14px;
    }

    .big-title-ds {
        font-size: 32px;
    }

}











