.big-title-ds {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;
}


.gradient-text-ds {
    background: linear-gradient(to right, #010A55 0%, #DD9B9B 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
}



.latest-storeis-container-ds {
    max-width: 1472px;
    margin-bottom: 5rem;
}



.latest-title-button-ds {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.latest-button-ds {
    align-self: center;
}




.latest-stroies-left-ds {
    background-image: url('img-dasom/magazine.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    min-height: 300px;
    max-width: 980px;
}




.latest-stories-text-ds {
    color: white;
    position: relative;
    top: 30rem;
    font-weight: 400;
}


.latest-text1-ds {
    font-weight: bolder;
    font-size: 14px;
    margin: 10px 0;
}


.latest-text2-ds {
    font-weight: bolder;
    font-size: 30px;
    margin: 10px 0;
}

.latest-text3-ds {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
}


.latest-stroies-right-ds .card {
    background-color: #f0f7fc;
    border-color: #e0eefa;
    margin-bottom: 1rem;
}


.latest-stories-text2-ds {
    display: none;
}


.latest-stroies-right-ds .card-body{
    display: flex;
    align-items: center;
}


.latest-stroies-right-ds .card-body:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}



.latest-stroies-right-ds .card-body img{
    max-width: 120px;
    max-height:120px;
    border-radius: 10px;
    margin-right: 1rem;
}


.attractions-button-ds {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 9999px;
    letter-spacing: 1px;
}

.attractions-button-ds:hover {
    background-color: #05D2FF;
    border: 1px solid #05D2FF;
    border-radius: 9999px;
    color: white;
}




@media (max-width: 640px) {

    .big-title-ds {
        font-size: 27px;
    }


    .latest-stories-text-ds {
        display: none;
    }

    .latest-stories-text2-ds {
        display: block;
        color: black;
    }


    .latest-storeis-container-ds {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* position: relative;
        top: 60vw; */
    }

    .latest-stroies-left-ds {
        display: block;
        width: 100%;
    }

    .latest-stroies-right-ds {
        display: block;
        width: 100%;
    }

    .latest-title-button-ds {
        display: block;
    }


}



@media (min-width: 600px) and (max-width: 1024px) {

    .big-title-ds {
        font-size: 32px;
    }


    .latest-stories-text-ds {
        display: none;
    }

    .latest-stories-text2-ds {
        display: block;
        color: black;
    }

    .latest-storeis-container-ds {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .latest-stroies-left-ds {
        display: block;
        width: 100%;
        max-height: 688px
    }

    .latest-stroies-right-ds {
        display: block;
        width: 100%;
    }

}



