




/* video */


.video-header-js {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }

  
  #video {
    position: relative;
    width: 100%;
    max-height: 50%;
    bottom: 0; 
    right: 0;
    overflow: hidden;
  }
  
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
   
  
  }
  
  
  .inner-js {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    display:flex;
    justify-content: center;
    color: white;
    font-size: 5vw;
  }
  
  .inner_btn-js {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    display:flex;
    justify-content: center;
  
  }
  .inner_btn-js a{
    
    border: 1px solid white;
    border-radius: 9999px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2vw;
    padding: 1vw 1.2vw 1vw;
    width: 100%;
  }
  
  
  
  .empty-box-js {
    position: relative;
    top: 60vw;
    display: block;
    width: 100%;
  }



  
/* Last main paragraph css */
.last-container-js {

  display : flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 200px;
  height: 100vh;
}

.noona-logo-js {
  height: 50px;
  margin-bottom: 50px;
}

.logo-box-js {
  display: block;
  justify-content: center;
}

.last-section-js {
  width: 100vw;
}

.last-img-box-js {
  
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
 
}

.last-img-box-js div.sec01-js {
 
  height: 17.3rem;
  background-image: url("./img-js/usa-img-js/Lonely-Planet-Travel-images/GettyImages-1353478016.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(70%);
  
}

.last-img-box-js div.sec02-js {
  height: 17.3rem;
  background-image: url("./img-js/usa-img-js/Lonely-Planet-Travel-images/GettyImages-859032540.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(70%);
}

.last-img-box-js div.sec03-js {
  height: 17.3rem;
  background-image: url("./img-js/usa-img-js/Lonely-Planet-Travel-images/GettyImages-497782950-16.9.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(70%);
}

.last-img-box-js div.sec04-js {
  height: 17.3rem;
  background-image: url("./img-js/usa-img-js/Lonely-Planet-Travel-images/GettyImages-1291764362.jpeg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(70%);
}

.last-img-box-js div.sec05-js {
  height: 17.3rem;
  background-image: url("./img-js/usa-img-js/Lonely-Planet-Travel-images/GettyImages-1146333369.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(70%);
}

.last-img-box-js div.sec06-js {
  height: 17.3rem;
  background-image: url("./img-js/usa-img-js/Lonely-Planet-Travel-images/GettyImages-1222106361.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(70%);
}

/* hovering */

.last-img-box-js div.sec01-js:hover {
  filter: brightness(100%);
}

.last-img-box-js div.sec02-js:hover {
  filter: brightness(100%);
}

.last-img-box-js div.sec03-js:hover {
  filter: brightness(100%);
}

.last-img-box-js div.sec04-js:hover {
  filter: brightness(100%);
}
.last-img-box-js div.sec05-js:hover {
  filter: brightness(100%);
}
.last-img-box-js div.sec06-js:hover {
  filter: brightness(100%);
}

