
.nav-info-ke {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    tab-size: 4;
    font-family: Pangea Text, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.sub-box-backgroud-color-ke{
    background-color: white;
}




.logo-ke {
    /* width: 180px; */
    width: 160px;
    /* max-width: 100%; */
    padding: 15px 15px 10px 0px;
}

.nav-con-box-ke {
    padding-right: 10px;
    justify-content: space-between;
}


.dro-box-menu-ke{
    width: fit-content;
    /* border: 2px solid blue; */
    position: absolute;
    /* padding-bottom: 9rem; */
}

.sub-drop-menu-test-ke {
    
    display: block;  
    /* border: 3px solid red; */
    /* position: relative; */
    margin-top: -10px;
    /* padding-bottom: 8rem; */
    /* top: -10px; */

    max-width: 100rem; /* 최대 너비 */
    max-height: 100rem; /* 최대 높이 */
    border: none; /* 보더 없애기 */

    overflow-wrap: break-word; /* 텍스트 줄 바꿈 */
    
}


.sub-drop-menu-test-ke {
    display: block;
    margin-top: -10px;
    max-width: 90vw; /* 모바일 화면에서 너비를 화면 너비의 90%로 설정 */
    border: none; /* 보더 없애기 */
    overflow-wrap: break-word; /* 텍스트 줄 바꿈 */
    word-break: break-all; /* 단어 단위로 줄 바꿈 */
}

.sub-drop-menu-test-search-ke {
    
    max-width: 100rem; /* 최대 너비 */
    max-height: 100rem; /* 최대 높이 */
    border: none; /* 보더 없애기 */
}



.sub-drop-menu-test-2-ke {
    /* border: 3px solid purple; */
    margin-top: -42.5px;
    /* padding-bottom: 8rem; */
    /* margin-top: -27%; */
}

.sub-drop-menu-test-3-ke {
    /* border: 3px solid green; */
    margin-top: -74px;
    /* padding-bottom: 8rem; */
    /* margin-top: -47.5%; */
}




.nav-icon-box-ke {
    padding-right: 10px;
}

.nav-sign-button-ke {
    font-size: 14px;
    background-color: rgb(0 87 217);
    color: white;
    height: 40px;
    width: 90px;
    padding: 5px 10px;
    border-radius: 80px;
}



.nav-button-ke {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.nav-sign-button-ke:hover {
    background-color: #007BFF;
}



/* items hover background color */
.dropdown-item:hover {
    background-color: #00bfea6c; /* Background color on hover */
    border-radius: 10%; /* Border radius */
}



/* Nested dropdown positioning */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    position: absolute;
    top: 0; /* Adjust this value to move the nested dropdown upwards */
    left: 100%;
    margin-left: -1px; /* Aligns with parent menu */
    /* display: none;  */
    /* Initially hides the nested dropdown */
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block; 
    /* Shows the nested dropdown on hover */
}

.dropdown-submenu:hover > .dropdown-submenu {
    display: block; 
    /* Shows the nested dropdown on hover */
}

.dropdown-submenu {
        position: relative; /* 상대적 위치 설정으로, 절대 위치를 가진 자식 요소들의 기준점을 설정합니다. */
    }

    /* triangle direction */
.dropdown-submenu a::after {
    transform: rotate(-90deg); /* 가상 요소(대개 화살표)를 -90도 회전시킵니다. */
    position: absolute; /* 가상 요소를 상대적 위치를 가진 부모 요소 내에서 절대 위치로 설정합니다. */
    right: 6px; /* 부모 요소의 오른쪽 가장자리에서 6px 떨어진 곳에 위치시킵니다. */
    top: .8em; /* 부모 요소의 상단에서 .8em 떨어진 곳에 위치시킵니다. */
}

.dropdown-submenu .dropdown-menu {
    top: 0; /* 서브메뉴의 상단을 부모 메뉴의 상단과 맞춥니다. */
    left: 100%; /* 서브메뉴를 부모 메뉴의 바로 오른쪽에 위치시킵니다. */
    margin-left: .1rem; /* 부모 메뉴와의 간격을 위해 왼쪽 여백을 조금 추가합니다. */
    margin-right: .1rem; /* 일관된 간격을 위해 오른쪽 여백을 조금 추가합니다. */
}



@media screen and (max-width: 48rem) {
    .sub-drop-menu-test-ke{
        display: block;
        /* max-width: 12rem; */  
        /* border: 3px solid red; */
        /* position: relative; */
        margin-top: -10px;
        /* padding-bottom: 8rem; */
        /* top: -10px; */
        /* max-width: 100rem;  */
        /* 최대 너비 */
        /* max-height: 100rem;  */
        /* 최대 높이 */
        border: none; /* 보더 없애기 */
        overflow-wrap: break-word; /* 텍스트 줄 바꿈 */
        overflow-wrap: break-word;
        word-break: break-all;
        
    }
    
}

