/* navbar */

.nav-info-ke {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  tab-size: 4;
  font-family: Pangea Text, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.sub-box-backgroud-color-ke {
  background-color: white;
}

.backgroud-color-ke {
  background-color: transparent;
}

.logo-ke {
  width: 160px;
  padding: 15px 15px 10px 0px;
}

.nav-con-box-ke {
  padding-right: 10px
}

/*  Nav end */





