@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


footer {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    margin-top: 10rem;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    /* padding: 20px 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}








.footer-yeara-container {
    display: flex;
    justify-content: space-around;
    text-align: start;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
}


.noona-footer-left img {
    width: 250px;
}

.noona-logo-yeara {
    margin-bottom: 1rem;
}

.explore {
    margin-bottom: 1rem;
}

.join {
    margin-bottom: 2rem;
    font-weight: 500;
    color: #e0ad4e;
    font-size: 18px;
}



.footer-right-yr {
    display: flex;
    justify-content: space-between;
}


.footer-bottom {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.language-container {
    display: flex;
    align-items: center;
}

.copyright, .LANGUAGE {
    margin-right: 2rem;
}

.menu {
    display: none;
}

.social-icon {
    margin-left: -2rem;
}

.travel-yeara a, .tilte-yeara {
    font-size: 16px;
}

.invisible-YR{
    display: none;
    margin-bottom: 3rem;
    
}

.collapsible {
    background-color: #3586ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;

    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(51, 165, 231);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(51, 165, 231);
    
  }

@media (max-width: 700px) {
    .footer-right-yr {
        display: none;
    }

    .footer-yeara-container {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 2rem;
    }

    .copyright {
        margin-bottom: 1rem;
    }

    .menu {
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
    }

    .menu a {
        font-size: 13px;
        font-weight: 500;
        color: black;
    }

    .copyright {
       font-size: 13px;
       width: 100%;
       margin-right: -0.5rem;
    }

    .invisible-YR{
        display: block;
        display: flex;
        flex-direction: column;
    }


}


@media (min-width: 700px) and (max-width: 1024px) {
    .travel-yeara a, .tilte-yeara {
        font-size: 13px;
    }
}

