/* video */


.video-header-js {
    position: absolute;
    /* border: 2px solid red; */
    width: 100%;
    left: 0;
    right: 0;
  }

  
  #video {
    position: relative;
    width: 100%;
    max-height: 50%;
    bottom: 0; 
    right: 0;
    overflow: hidden;
  }
  
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    top: 0;
    right: 0;
    /* padding-top: 200px; */
  
  }
  
  
  .inner-js {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    display:flex;
    justify-content: center;
    color: white;
    font-size: 5vw;
  }
  
  .inner_btn-js {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    display:flex;
    justify-content: center;
  
  }
  .inner_btn-js a{
    
    border: 1px solid white;
    border-radius: 9999px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2vw;
    padding: 1vw 1.2vw 1vw;
    width: 100%;
  }
  
  
  
  .empty-box-js {
    position: relative;
    top: 60vw;
    display: block;
    width: 100%;
  }
  