
.nav-info-ke {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    tab-size: 4;
    font-family: Pangea Text, Helvetica, Arial, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

.sub-box-backgroud-color-ke{
    background-color: white;
}


.logo-ke {
    /* width: 180px; */
    width: 160px;
    /* max-width: 100%; */
    padding: 15px 15px 10px 0px;
}

.nav-con-box-ke {
    padding-right: 10px;
    justify-content: space-between;
}


.dro-box-menu-ke{
    width: fit-content;
    /* border: 2px solid blue; */
    position: absolute;
    /* padding-bottom: 9rem; */
}


.sub-drop-menu-test-search-ke {
    border: none; /* 보더 없애기 */
}


.nav-icon-box-ke {
    padding-right: 10px;
}

.nav-sign-button-ke {
    font-size: 14px;
    background-color: rgb(0 87 217);
    color: white;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 90px;
    padding: 5px 10px;
    border-radius: 80px;
    padding-top: 10px;
}



.nav-button-ke {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.nav-sign-button-ke:hover {
    color: white;
    background-color: #007BFF;
}

/* items hover background color */
.dropdown-item:hover {
    background-color: #01d0ff57; /* Background color on hover */
    border-radius: 10%; /* Border radius */
}


.sign-btn-lin-ke{
    text-decoration-line: none;
    border: none;
}
